* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.Row {
  display: flex;
  flex-direction: row;
}
.Col {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #1f2937;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: #f9faf8;
  font-size: 24px;
}
nav ul {
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-weight: 100;
  padding: 0 0 0 75px;
}

nav a,
p {
  color: #e5e7eb;
  font-size: 18px;
}
.title {
  width: 80%;
  margin: 0 auto;
}
.title h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-family: "RobotoBlack", sans-serif;
}
.col-left {
  width: 45%;
  padding: 80px 0;
  justify-content: flex-start;
}
.col-left button {
  width: 100px;
  background-color: #3882f6;
  color: #e5e7eb;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
}
.col-left p {
  font-family: "Roboto";
}
.col-right {
  width: 55%;
  justify-content: center;
  align-items: flex-end;
}
.col-right img {
  border-radius: 10%;
  height: 200px;
}
.img {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.img h1 {
  margin: 0 0 50px 0;
  font-family: "RobotoBold";
}
.fgr {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
figcaption {
  width: 200px;
  text-align: center;
  padding: 10px 0;
}
.square {
  width: 200px;
  height: 200px;
  color: #cacaca;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.proj {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
}

.grey {
  background-color: #e5e7eb;
  font-size: 36px;
  font-family: "RobotoLightI";
  color: #1f2937;
  padding: 60px 400px;
  height: 500px;
  justify-content: center;
}
.grey p {
  color: #1f2937;
  font-family: "RobotoStrong";
  margin: 0 0 0 auto;
}

.act {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 60%;
  margin: 120px auto;
  padding: 50px;
  border-radius: 10px;
  justify-content: space-around;
}
.act button {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  background-color: transparent;
  color: #e5e7eb;
  height: 50px;
  width: 150px;
}
footer {
  position: relative;
  bottom: 0;
  height: 80px;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #1f2937;
}
